.character__container {
  border: solid 2px lightgreen;
  background-color: white;
  color: green;
  padding: 10px;
  min-width: 100px;
  cursor: pointer;
}

.character__container.checked {
  background-color: green;
  color: white;
}
